IMPORTING  ALL LIBRARIES

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [ ]:
d={'name':['A','B','C','D','E','F','G','H','I','J'],'age':[19,22,np.nan,23,18,19,35,np.nan,23,25],'gender':['M','M','F','M','F','M','F','M','F','F'],'salary':[65000,45000,78900,34567,23456,67867,34567,83736,91615,73635],'hike':[10,20,30,14,25,36,17,28,19,40]}
d

{'name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
 'age': [19, 22, nan, 23, 18, 19, 35, nan, 23, 25],
 'gender': ['M', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'F'],
 'salary': [65000,
  45000,
  78900,
  34567,
  23456,
  67867,
  34567,
  83736,
  91615,
  73635],
 'hike': [10, 20, 30, 14, 25, 36, 17, 28, 19, 40]}

In [ ]:
df=pd.DataFrame(d)
df

  name   age gender  salary  hike
0    A  19.0      M   65000    10
1    B  22.0      M   45000    20
2    C   NaN      F   78900    30
3    D  23.0      M   34567    14
4    E  18.0      F   23456    25
5    F  19.0      M   67867    36
6    G  35.0      F   34567    17
7    H   NaN      M   83736    28
8    I  23.0      F   91615    19
9    J  25.0      F   73635    40

Task- 2 Check the info of 'df'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10 non-null     object
 1   age     8 non-null      float64
 2   gender  10 non-null     object
 3   salary  10 non-null     int64
 4   hike    10 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 528.0+ bytes

Task 3- Check the descriptive statistics of 'df'

In [ ]:
df.describe()

             age        salary      hike
count   8.000000     10.000000  10.00000
mean   23.000000  59834.300000  23.90000
std     5.424811  23680.238325   9.65459
min    18.000000  23456.000000  10.00000
25%    19.000000  37175.250000  17.50000
50%    22.500000  66433.500000  22.50000
75%    23.500000  77583.750000  29.50000
max    35.000000  91615.000000  40.00000

Task 4- check the 4th index observation with 'loc' slicing operator.

In [ ]:
df.loc[3]

name          D
age        23.0
gender        M
salary    34567
hike         14
Name: 3, dtype: object

Task 5 - Check the null values in your 'df'

In [ ]:
df.isnull().any()

name      False
age        True
gender    False
salary    False
hike      False
dtype: bool

In [21]:
df.isnull().sum()

name      0
age       2
gender    0
salary    0
hike      0
dtype: int64